.DS_Store

/.idea
/boot/*
/tmp

/variant-zero/dbus

/wpa_supplicant.automatic.conf
/id_rsa.pub
/id_ed25519.pub
/*-raspbian-stretch-lite.zip
/*-raspbian-stretch-lite.img

# Alpine sensitive stuff: Docker key
key.json

# Alpine sensitive stuff: Machine-id
machine-id

alpine-rpi-*-armhf.tar.gz

# Don't commit LNCM variant build stuff
lncm-box-*.tar.gz
*.img

# Don't commit work dir
lncm-workdir/

# Don't apkvol
*.apkovl.tar.gz

# Ignore Readme
home/lncm/README.md
