[Unit]
Description=Cleanup & disable setup script
After=pi-setup.service

[Service]
Type=oneshot
ExecStartPre=/bin/systemctl disable pi-shutdown
ExecStartPre=/bin/systemctl disable pi-setup
ExecStart=/sbin/shutdown -P now

[Install]
WantedBy=multi-user.target
